* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Japan', sans-serif !important;
}
@font-face {
  font-family: 'Japan';
  src: url('../assets/fonts/Japan.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.login {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
  url("../assets/images/loginback.png") center/cover no-repeat;
}

.register {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
  url("../assets/images/registerback.png") center/cover no-repeat;
}

.wrapper {
    width: 420px;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    border: 2px solid rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(35px);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
}

.wrapper h1 {
    text-align: center;
    font: 36px;
    margin-bottom: 15%;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 5% 0 7% 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, 0.2);
    border-radius: 50px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: white;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 25px;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .button {
    width: 100%;
    height: 45px;
    background: rgb(29, 29, 29);
    color: gold;
    border: none;
 
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
}
.wrapper .button:hover {
  background: gold;
  font-family: 'Japan', sans-serif;
  color: black;
  border-color: rgba(0, 0, 0, 0.671);
}
.wrapper .register-link {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.wrapper .register-link p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.wrapper .register-link p a:hover {
    text-decoration: underline;
}

#error-message {
    padding: 2%;
    border-radius: 10px;
    font-size: 16px;
    color: red;
    margin-bottom: 5%;
}

.card {
    width: 100%;
    height: 45px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px 15px;
    background-color: #fffffffb;
    box-shadow: rgba(112, 112, 112, 0.5) 0px 8px 24px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
  }
  
  .icon-container {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fc0c0c48;
    border-radius: 50%;
    margin-left: 8px;
  }

  .icon-container-access {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #042401;
    border-radius: 50%;
    margin-left: 8px;
  }

  .icon-container-warning {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d1820352;
    border-radius: 50%;
    margin-left: 8px;
  }

  .icon {
    font-size: 16px; 
    color: #d10d0d;
  }
  
  .icon-access {
    font-size: 16px; 
    color: #2ed10d;
  }

  .icon-warning {
    font-size: 16px; 
    color: #b47901;
    ;
  }
  
  .message-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
  }
  
  .message-text,
  .sub-text {
    margin: 0;
    cursor: default;
  }
  
  .message-text {
    color: #d10d0d;
    font-size: 14px;
    font-weight: 700;
  }
  
  .message-text-access {
    color: #158000;
    font-size: 14px;
    font-weight: 700;
  }

  .message-text-warning {
    color: #b47901;
    font-size: 14px;
    font-weight: 700;
  }
  
  .sub-text {
    font-size: 10px;
    color: #555;
  }
  
  .cross-icon {
    font-size: 18px; 
    color: #555;
    cursor: pointer;
  }