* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Japan';
    src: url('../assets/fonts/Japan.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Japan', sans-serif !important;
    background-color: black;
}

h2{
    color: gold;
}
.reserves {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../assets/images/panel-reserves-3.png") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-bottom: 20px;
    border-radius: 5px;

}

.card-container {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.459); /* Brillo sutil */

}

.card-img {
    background: url("../assets/images/panel-reserves-4.png") center/cover no-repeat;
    height: auto;
}

.reserves h2 {
    padding-bottom: 40px;
    margin-bottom: 20px;
}

.card-content {
    background-color: rgb(0, 0, 0);
    height: 330px;
}

.card-content h3 {
    color: black;
    text-align: center;
    padding: 25px 0 10px 0;
    font-size: 26px;
}

.form-row {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.form-row-2 {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.form-row-2 a {
    color: gold;
    margin-top: 7px;
    transition: all 0.2 ease;
}

.form-row-2 a:hover {
    font-weight: bolder;

    color: gold;

}

input {
    background-color: black;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
}

input[type="date"],
input[type="time"] {
    background-color: black;
    color: white;

    padding: 10px;
    border-radius: 5px;
    position: relative;
}

/* Aplicar filtro al icono */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}


input::placeholder {
    color: white;
    opacity: 0.7;
}


input:focus {
    outline: none;
    border-color: gold;
}

form input {
    display: block;
    width: 100%;
    margin: 15px 12px;
    padding: 12.5px;
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    border: none;
    border-bottom: 1px solid #8a8a8a;
}

form input[type = text],
form input[type = number],
form input::placeholder {
    color: rgb(255, 255, 255);
}

form input[type = submit] {
    color: white;
    background-color: gold;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(184, 156, 0);
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
}

form input[type = submit]:hover {
    background-color: rgba(0, 0, 0, 0.9);
    color: gold;
    border: 2px solid rgb(184, 156, 0);

 
}

@media (max-width: 992px) {
    .card-container {
        grid-template-columns: 100%;
    }

    .card-img {
        height: 330px;
    }
}

@media (max-width: 500px) {
    .reserves h2 {
        padding-top: 40px;
        padding-bottom: 5px;
    }
    
     .card-container {
        width: 90%;
    }
}